h1 {
    color: red;
}

h2 {
    color: blue;
}

.Lorem-about {
    color: rgb(183, 0, 255);
}

.Juggernaut {
    color: rgb(136, 136, 0);
}

.Luna {
    color: rgb(21, 0, 255);
}

.WraithKing {
    color: green;
}

.Sven {
    color: rgb(16, 16, 119);
}

.NewPatch {
    color: rgb(170, 0, 255);
}